body {
    align-content: center;
    text-align: center;
    color: white;
    background: url(../image/large_back.jpg);
    font-size: 80%;
}
.box a {
    align-self: center;
    background: url(../image/next.png);
    display: block;
    width: 32px;
    height: 32px;
}
.box:hover a {
    background: url(../image/next.png);
    display: none;
    width: 32px;
    height: 32px;
}
@media only screen and (max-width: 767px) {
    body {
        background: url(../image/xsmall_back.png);
        -moz-background-size: 100%;    /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;      /* Opera 9.6+ */
        background-size: 100%;         /* Современные браузеры */
    }
    .box a {
        background: url(../image/download24.png);
        display: block;
        width: 24px;
        height: 24px;
    }
    .box:hover a {
        background: url(../image/download24_2.png);
        display: block;
        width: 24px;
        height: 24px;
    }
}
a, button {
    margin:auto;
    display:block;
}
.box {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    background-color: unset;
    color: white;
    height: auto;
    top: -70px;
}
.box:hover {
    background-color: white;
    color: black;
    position: absolute;
    z-index: 1;
}
.box p, .box button {
    display: none;
    height: 0;
}
.box:hover p, .box:hover button {
    display: block;
    height: auto;
}