body {
    align-content: center;
    text-align: center;
    background: url(../image/large_back.jpg);
    color: white;
}
/* Media Queries */
@media only screen and (max-width: 767px) {
    body {
        background: url(../image/xsmall_back.png);

        margin: 0;
        padding: 0;
        font-size: 100%;
        font: inherit;

        font: 18px/23px "Cantarell", sans-serif;
        color: #ffffff;
    }
}
#container {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.box {
    /*outline: 2px solid #000; !* Чёрная рамка *!*/
    border: 1px solid #fff; /* Белая рамка */
    border-radius: 5px; /* Радиус скругления */
    margin: 10px;
    padding: 20px;
    height: 200px;

    background-color: unset;
    color: white;
    height: 200px;

    /*transition-duration: 1s;*/
}
.box:hover{
    background-color: white;
    color: black;
    height: auto;
    display: block;
}
.box p, .box button{
    display: none;
}
.box:hover p, .box:hover button{
    display: block;
    align-content: center;
    alignment: center;
    align-items: center;
    alignment-baseline: center;
}